---
import Layout from '../layouts/Layout.astro';
import PageContainer from '../components/PageContainer.astro';
import Calendar, { mockClassDates } from '../components/Calendar';
---

<Layout title="order">
	<PageContainer>
		<h1>Hello order</h1>
		<Calendar classDates={mockClassDates} client:load/>
	</PageContainer>
</Layout>
