---

---

<div class="nav-links">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/order">Order</a></li>
	</ul>
</div>


<style>
	.nav-links ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.nav-links li {
		display: inline;
		margin-right: 10px;
	}

	.nav-links a {
		color: white;
		text-decoration: none;
	}
</style>